fastapi
uvicorn[standard]
python-multipart
langchain
langchain_community
langchain_core
langchain-text-splitters
sentence_transformers
langchain_huggingface
langchain_chroma
chroma
pymupdf
langchain_groq
python-dotenv

tqdm